# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# PyInstaller
build/
dist/
*.spec

# VS Code
.vscode/

# Local Executable (we usually don't push binaries, but user can choose)
# TeamsStatusKeeper.exe
